html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(to bottom right, #d68484, #8f749e, rgb(67, 127, 106), rgb(67, 80, 127));
    background-size: 400% 400%;
    animation: gradientRotation 5s linear alternate infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 100px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: #ffffff80;
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    font-family: Oswald;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.173);
    color: rgb(0, 0, 0);
    max-width: 40vw;
}

h1 {
    color: inherit;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

label {
    font-size: 20px;
}

label, select, input, button {
    margin: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    font-size: 70px;
    text-align: center;
    transition: .2s;
    word-wrap: break-word;
    font-family: inherit;
    line-break: anywhere;
}

select {
    font-family: inherit;
    background-color: rgba(102, 59, 143, 0.122);
    transition: .2s;
    padding: 8px;
    border: 3px solid rgba(102, 59, 143, 0.122);
    border-radius: 6px;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
}

select:hover {
        background-color: rgba(255, 255, 255, 0.405);
    }
    
    select:focus {
        outline: none;
}

input {
    font-family: inherit;
    text-align: center;
    font-weight: 1000;
    font-size: 17px;
    border: none;
    background-color: transparent;
    border-bottom: rgba(102, 59, 143, 0.707) solid 2px;
    border-radius: 0%;
    width: 200px;
    height: 40px;
    transition: .2s;
}

input:hover {
    border-bottom: rgba(255, 255, 255, 0.707) solid 2px;
}

input:focus {
    outline: 0px;
    width: 300px;
    height: 25px;
}

button {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    
    border: 3px solid rgba(102, 59, 143, 0.122);
    border-radius: 6px;
    color: black;
    font-family: Oswald;
    background-color: rgba(102, 59, 143, 0.122);
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: #00000040;
}

svg {
    width: 110px;
    height: 90px;
}

#ufu {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110px;
    height: 90px;
    background-color: transparent;
    border: none;
    transition: .2s;
}
#ufu:hover {
    transform: scale(1.1);
}

button:focus {
    outline: none;
}

@keyframes gradientRotation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }